/*Colores
Rosita clarito pastel #FDF4F5
Lila clarito #DBDFEA
Lila oscuro #ACB1D6
Violeta pastel #8294C4

Color tipografía común #2c3e50
*/

*{
    margin: 0;
    padding: 0;
}

/*Estilos links*/
.linksVisual{
    text-decoration: none;
}

/*Imágenes*/

.smallImg{
    width: 200px;
    height: 170px;
}

.mediumImg{
    width: 50px;
    height: 50px;
}

.mangaSmallSize{
    width: 135px;
    height: 200px;
}
.mangaMediumSize{
    width: 260px;
    height: 380px;
}



/*-------------------*/
/* Estilos de header */
/*-------------------*/

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

/*Logo Bar*/
.containerLogoBar{
    background-color: #DBDFEA;
    display: flex;
    flex-wrap: wrap;
}  

.imgLogo{
    width: 130px;
    height: 90px;
    display: flex;
    justify-content: left;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    flex-wrap: nowrap;
}

.searchBox img {
    width: 20px;
    height: 20px;
    margin: 4px;
}

.cart img {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

/*-------------------*/

/*Nav Bar*/
.containerNavBar{
    background-color: #8294C4;
    color: #ACB1D6;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.cajaListItems{
    width: 165px;
    height: 15px;
    padding:5px;
    margin:0;
    display:flex;
}




/*-------------------*/
/*- Estilos de main -*/
/*-------------------*/

.title1{
    font-family: 'Varela Round', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #6F84BB;
    /* padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 25%;
    margin-left: 15%;
    text-align: left; */
}

.title2{
    font-family: 'Varela Round', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #6F84BB;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 100px;
    margin-top: 5px;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-left: 25%;
    text-align: right;
    text-align: right;
}

.subtitle1{
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #6F84BB;
    padding-top: 1%;
    padding-right: 30%;
    padding-bottom: 1%;
    padding-left: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 15%;

    text-align: left;
}

.normalText{
    font-family: 'Figtree', sans-serif;
    color: #2c3e50;
}

.paragraphStyle1{
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #2c3e50;
    padding-right: 100px;
    padding-left: 5%;
    margin-top: 5px;
    margin-right: 25%;
    margin-bottom: 5px;
    margin-left: 15%;
    text-align: left;
}

.paragraphStyle2{
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: #2c3e50;
    padding-right: 5%;
    padding-left: 100px;
    margin-top: 5px;
    margin-right: 15%;
    margin-bottom: 5px;
    margin-left: 25%;
    text-align: right;
}

.button{
    font-family: 'Figtree', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: #2c3e50;
    padding: 8px;
    border-radius: 4px;
    border-style: none;
    background-color: #ACB1D6;
    margin-top: 5%;
    margin-left: 20%;
}




/*-------------------*/
/*Background and hero*/
/*-------------------*/

.navbarBackground{
    background-color: #FDF4F5;
}

.section2Background{
    background-color: #DBDFEA;
}

.heroImage{
    background-image: linear-gradient(rgba(214, 213, 213, 0.269), rgba(232, 232, 232, 0.285)), url("../images/hero-image.png");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




/*-------------------*/
/*-Estilos de footer-*/
/*-------------------*/
footer p{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #8294C4;
}

.bg-yellow {
    background-color: rgb(219, 223, 234)    ;
}


/* .footerBackground{
    background-color: #DBDFEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; 

}

footer section {
    display: flex;
    flex-wrap: wrap;
}

footer section div {
    flex-direction: column;
}

footer section span{
    color: #6F84BB;
}

.centerContent{
    display: flex;
    align-items: start;
}

footer section div h6{
    display: flex;
    justify-content: center;
} */


/*Footer images*/
.smallFooterCards{
    width: 76px;
    height: 45px;
}

.smallFooterShipCards{
    width: 82px;
    height: 45px;
}

.smallFooterImg{
    width: 45px;
    height: 68px;
}


/*-------------------*/
/*----Grid footer----*/
/*-------------------*/
/* 
.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr;
    grid-template-areas: 
    'masInformacion mediosDePago nuestrasRedes'
    'contactanos formasDeEnvio dataFiscal'
    'copyright copyright copyright';
}

.border{
    border: 1px solid black;
}

#masInformacion{
    grid-area: masInformacion;
}

#mediosDePago{
    grid-area: mediosDePago;
}

#nuestrasRedes{
    grid-area: nuestrasRedes;
}

#contactanos{
    grid-area: contactanos;
}

#formasDeEnvio{
    grid-area: formasDeEnvio;
}

#dataFiscal{
    grid-area: dataFiscal;
}

#copyright{
    grid-area: copyright;
} */


/*-------------------*/
/*-- Media queries --*/
/*-------------------*/

/* Mobile */
@media only screen and (max-width: 500px){

} 

/* Tablet */
@media only screen and (min-width: 501px) and (max-width: 960px){

}

/* Desktop */
@media only screen and (min-width: 961px){
    
}

/*-------------------*/
/*-------------------*/