/*-------------------*/
/*------Imágenes-----*/
/*-------------------*/

.smallImg{
    width: 200px;
    height: 170px;
}

.mediumImg{
    width: 50px;
    height: 50px;
}

.mangaSmallSize{
    width: 135px;
    height: 200px;
}
.mangaMediumSize{
    width: 260px;
    height: 380px;
}
