
/*-------------------*/
/*- Estilos de main -*/
/*-------------------*/
@mixin apply-font($family, $size, $isBold) {
    font-family: $family;
    font-size: $size;
    @if ($isBold) {
        font-weight: bold;
    }
} 



.title{
    @include apply-font($primaryFont, $titleFontSize, true);

    &1{
        @extend .title; 
        color: $violet;
    }

    &2{
        @extend .title;
        color: $violet;
        text-align: right;
    }
}

.subtitle{
    @include apply-font($primaryFont, $subtitleFontSize, false);
    font-weight: lighter;
    color: $violet;

    &1{
        @extend .subtitle;
        margin: 1%;
        padding: 1%;
        text-align: center;
    }
}

.normalText{
    font-family: $secondaryFont;
    color: $gray;
  }


.paragraphStyle{
    font-family: $secondaryFont;
    font-size: $normalFontSize;
    font-weight: bolder;
    color: $gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
    &1{
        @extend .paragraphStyle;
        text-align: left;
    }

    &2{
        @extend .paragraphStyle;
        text-align: right; 
    }
}

