//Variables
//Colores

$lavender: #c1c5e1; //Footer background
$violet: #8294C4; //Navbar, Copyright background
$lightviolet: #91a8e2; //Hovers
$white: #FFFFFF; //Background and Light text
$gray: #3d4852; //Text

//Fonts
$primaryFont: 'Varela Round', sans-serif;
$secondaryFont: "Figtree", sans-serif;

$titleFontSize: 42px;
$subtitleFontSize: 30px;
$normalFontSize: 20px;

