//Variables
//Colores
$yellow: #fffaf0; //Background
$lavender: #c1c5e1; //Footer background
$violet: #8294C4; //Navbar, Copyright background
$white: #FFFFFF; //Light text
$gray: #3d4852; //Text

//Fonts
$primaryFont: 'Varela Round', sans-serif;
$secondaryFont: "Figtree", sans-serif;

$titleFontSize: 42px;
$subtitleFontSize: 30px;
$normalFontSize: 20px;

